body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(#fdcbcb, #fff6f6);
}

html, body {
    line-height: initial;
    font-family: 'Segoe UI', sans-serif;
}

textarea {
    font-family: 'Segoe UI', sans-serif;
    resize: none;
}

h1 {
    font-size: max(6vw, 3em, 3rem);
}

h2 {
    font-size: max(5.5vw, 2em, 2rem);
}

h3 {
    font-size: max(4vw, 1em, 1rem);
}

h4 {
    font-size: max(3.25vw, 1em, 1rem);
}

h5 {
    font-size: max(3vw, 1em, 1rem);
}

h6 {
    font-size: max(2.5vw, 1em, 1rem);
}

input, a, textarea, select, option, label, th, td, button {
    font-size: max(2vw, 1em, 1rem);
}

p, div  {
    font-size: max(1.5vw, 1em, 1rem);
}

tr, p, h1, h2, h3, h4, h5, h6{
    text-align: justify;
    word-break: break-word;
}